@font-face {
    font-family: "karton";
    src: url(fonts/Cardboard\ Cat\ Extra\ Bold.ttf) format('truetype');
    font-weight: bold;
}

#gamecontainer, canvas, #myfilter {
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
}

#gamecontainer {
	background-image: url('img/box_photos/P11201-230950.jpg');
	background-attachment: fixed;
	background-size: 100% 100%;
}

body #gamecontainer #myrestartbutton{
    display: block;
} 

#Sc0{ line-height: 0vh;}

#myrestartbutton div{
    flex-wrap: nowrap;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('img/box_photos/boxPhoto_big.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    /*display: block;*/ /* Должна выполнять строки 32&33: "overflow-..." */ 
}

h1 {
    text-transform: uppercase;
    font-family: 'karton', sans-serif;
    font-size: 5vh;
    line-height: 1em;
    background: url('img/cardboard.png') repeat center center;
    -webkit-text-fill-color: transparent;
    background-attachment:fixed;
    background-size: auto;
    -webkit-background-clip: text;
    background-clip:text; 
    -moz-background-clip:text;
    -webkit-text-stroke: 0.1vh #000;
    cursor: pointer;
}

.dev {
    font-family: 'karton', sans-serif;
    line-height: 10vh;
    font-size: 5vh;
    -webkit-text-stroke: 0.1vh #fff;
}

h1:hover{
    -webkit-text-stroke: 0.5vh #000;
}